/*estandarizamos a cero todos  los estilos por default que tiene la hoja de estilos CSS*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    padding-bottom: 10px;
    z-index: 1000;
}

.first-nav{
    padding: 20px 20px;
    width: 100%;
    border-bottom: 1px solid #d3d3d3;
}

/*Se manipula el comportamiento de los elementos li y div, de bloque (display:block por deafult) a uno de comportamiento de linea ,pero con propiedades de bloque(diplay:inline-block)*/

.first-nav li{
    display: inline-block;
}

.fa-pinterest{
    color: red;
}

.nav-box{
    text-align: center;
    width: 100%;
}

.nav-box-text{
    position: relative;
    left: 50px;
    bottom:20px;
    height: 40px;
    width: 68%;
    border-radius : 5px;
    background-color: #efefef;
}

.nav-box-text input {
    width: 78%;
    border:none;
    line-height: 22px;
    margin-top: 10px;
    font-size: 18px;
    outline: 0;
    background-color: transparent;
}

.nav-box-pins{
    position: absolute;
    bottom:65%;
    left:75%;
}

.second-nav{
    padding: 10px 0;
    width: 100%;
    margin: 0;
}

.second-nav div{
    display: inline-block;
}
